<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" data-ng-app="myApp">
<head>
    <meta charset="utf-8">
    <title> Kevin's Fake Twitter</title>
    <link rel="stylesheet" href="../../Content/Site.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- jQuery Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<body data-ng-controller="productController">
  <div class="row" id="header">
    <div id="header-text">
      Twitter Feed
    </div>
  </div>
    <div id="inputs">
        <strong class="error">{{ error }}</strong>
        <div class="container-fluid">
          <input type="hidden" data-ng-model="product.Id">
          <div class="row">
            <div>
              <span><b>User Name:</b></span>
            </div>
            <div>
              <input id="name" data-ng-model="product.Name" required>
              <p class="error" id="name-error"></p>
            </div>
          </div>
          <div class="row">
            <div>
              <span><b>Date:</b></span>
            </div>
            <div>
              <input id="date" data-ng-model="product.Date"
                                           required>
              <p class="error" id="date-error"></p>
            </div>
          </div>
          <div class="row">
            <div>
              <span><b>Tweet:</b></span>
            </div>
            <div>
              <input id="tweet" data-ng-model="product.Text" required>
              <p class="error" id="tweet-error"></p>
            </div>
          </div>
          <div class="row">
            <button type="button" 
             class="btn btn-default"
             id="save-btn"
             data-ng-click="save(product)">Save</button>
          </div>
        </div>
    </div>
    <br />
    <br />
    <div>
        <div class="container-fluid">
            <table id="table-data" border="1">
                <thead>
                    <tr id="table-header">
                        <th>UserName</th>
                        <th>Date</th>
                        <th>Tweet</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="table-body" data-ng-repeat="product in products">
                        <td>{{product.Name}}</td>
                        <td>{{product.Date}}</td>
                        <td>{{product.Text}}</td>
                        
                        <td>[<a href="#" data-ng-click="edit(product)">Edit</a>] | [<a href="#" data-ng-click="delete(product)">Delete</a>]</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script type="text/javascript" src="../../Scripts/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="../../Scripts/angular.js"></script>
    <script type="text/javascript" src="../../Scripts/angular-resource.js"></script>
    <script type="text/javascript" src="../../Scripts/ProductJs.js"></script>
    <script type="text/javascript"
src="../../Scripts/node_modules/moment/moment.js"></script>
    <script type="text/javascript" src="../../Scripts/script.js"></script>
</body>

</html>
